In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from tqdm import tqdm

In [2]:
def make_option(gen='random', name_set='us', country='us'):
    return ''.join(['/gen-', gen,'-', name_set,'-', country,'.php'])

In [3]:
with open('url.txt', 'r') as file:
      url = file.read()

headers = {'User-Agent': 'Mozilla/5.0'}
DELAY = 0.5
COUNT_PERSONS = 100

In [4]:
r = requests.get(url, headers=headers)
html = r.text
soup = BeautifulSoup(html, "html.parser")

In [5]:
list_gen_value = [x['value'] for x in soup.find('select', id="gen").find_all('option')]
list_gen_text = [x.text for x in soup.find('select', id="gen").find_all('option')]
dict_gen = dict(zip(list_gen_text, list_gen_value))
list_nameset_value = [x['value'] for x in soup.find('select', id="n").find_all('option')]
list_nameset_text = [x.text for x in soup.find('select', id="n").find_all('option')]
dict_nameset = dict(zip(list_nameset_text, list_nameset_value))
list_country_value = [x['value'] for x in soup.find('select', id="c").find_all('option')]
list_country_text = [x.text for x in soup.find('select', id="c").find_all('option')]
dict_country = dict(zip(list_country_text, list_country_value))

print('Gender: ' , ', '.join(dict_gen.keys()), '\n')
print('Name set: ' , ', '.join(dict_nameset.keys()), '\n')
print('Country: ' , ', '.join(dict_country.keys()), '\n')

url = url + make_option(dict_gen['Random'], dict_nameset['American'], dict_country['United States'])

Gender:  Random, Male, Female

Name set:  American, Arabic, Australian, Brazil, Chechen (Latin), Chinese, Chinese (Traditional), Croatian, Czech, Danish, Dutch, England/Wales, Eritrean, Finnish, French, German, Greenland, Hispanic, Hobbit, Hungarian, Icelandic, Igbo, Italian, Japanese, Japanese (Anglicized), Klingon, Ninja, Norwegian, Persian, Polish, Russian, Russian (Cyrillic), Scottish, Slovenian, Swedish, Thai, Vietnamese

Country:  Australia, Austria, Belgium, Brazil, Canada, Cyprus (Anglicized), Cyprus (Greek), Czech Republic, Denmark, Estonia, Finland, France, Germany, Greenland, Hungary, Iceland, Italy, Netherlands, New Zealand, Norway, Poland, Portugal, Slovenia, South Africa, Spain, Sweden, Switzerland, Tunisia, United Kingdom, United States, Uruguay

In [6]:
list_personality = []

for t in tqdm(range(COUNT_PERSONS)):
    
    r = requests.get(url, headers=headers)
    html = r.text
    soup = BeautifulSoup(html, "html.parser")
    
    identity = []
    for x in soup.find_all('div', class_="adtl"):
        x.decompose()
        
    identity.append(soup.find('div', class_='address').h3.text)
    identity.append(soup.find('div', class_='adr').text.rstrip().lstrip())
    identity += [x.text for x in soup.find('div', class_='extra').find_all('dd')]
    
    list_personality.append(identity)
    
    time.sleep(DELAY)
    
columns = ['Name', 'Address'] + [x.text for x in soup.find('div', class_='extra').find_all('dt')]
df = pd.DataFrame(data=list_personality, columns=columns)
df.head(10)

100%|██████████| 100/100 [02:05<00:00,  1.26s/it]

,Name,Address,Mother's maiden name,SSN,Geo coordinates,Phone,Country code,Birthday,Age,Tropical zodiac,...,Height,Weight,Blood type,UPS tracking number,Western Union MTCN,MoneyGram MTCN,Favorite color,Vehicle,GUID,QR Code
0,John E. Roman,"1563 Bastin DriveNorthampton, PA 18067",Court,202-56-XXXX,"40.69292, -75.545305",484-696-3947,1,"December 30, 1972",48 years old,Capricorn,...,"5' 7"" (169 centimeters)",234.3 pounds (106.5 kilograms),O-,1Z 0W4 605 63 3995 285 9,9403591126,24147878,Purple,2011 Peugeot 508,f35265ba-5708-4ff9-9157-635254dcd444,Click to view the QR code for this identity
1,Tammy T. Foster,"3486 Flynn StreetParma, OH 44129",Haney,274-52-XXXX,"41.425529, -81.721568",440-845-6668,1,"January 31, 1968",53 years old,Aquarius,...,"5' 5"" (166 centimeters)",202.2 pounds (91.9 kilograms),B+,1Z 210 E64 10 7440 533 3,6185083716,90463957,Red,2002 Opel Astra,f2fc8807-d928-45bd-a958-c97ca855aa62,Click to view the QR code for this identity
2,Dianne B. King,"4950 Poplar AvenueSan Diego, CA 92101",Goodman,567-73-XXXX,"32.733017, -117.195836",619-556-2515,1,"May 26, 1967",53 years old,Gemini,...,"5' 2"" (158 centimeters)",170.9 pounds (77.7 kilograms),A+,1Z 6A5 379 72 6179 315 8,6593234954,68535523,Purple,2003 Holden Jackaroo,85936668-f279-4c7b-9394-1eee2e2fa501,Click to view the QR code for this identity
3,Bettye L. McLin,"1530 Charter StreetMission, KS 66202",Calderone,512-46-XXXX,"39.110396, -94.765921",913-787-0107,1,"October 3, 1999",21 years old,Libra,...,"5' 1"" (155 centimeters)",142.3 pounds (64.7 kilograms),AB+,1Z F40 1W0 88 5035 920 1,9488477852,59993659,Green,2006 Volkswagen LT 35 HR Panel Van,d96bd1f3-fbfe-455b-bfd5-7f1b5a435d82,Click to view the QR code for this identity
4,Mary R. Rodriguez,"362 Buena Vista AvenueEugene, OR 97401",Terry,542-43-XXXX,"43.980931, -123.111703",541-685-1634,1,"July 13, 1951",69 years old,Cancer,...,"4' 11"" (151 centimeters)",122.5 pounds (55.7 kilograms),B+,1Z 073 182 84 1098 160 8,3683802085,09635220,Green,2003 Opel Vectra,cf7e414f-b7a8-4d1f-9800-75ed6539d69b,Click to view the QR code for this identity
5,Katherine S. Gonzales,"413 Sugarfoot LaneRichmond, IN 47374",Brooks,313-05-XXXX,"39.894361, -84.99861",765-389-2270,1,"July 14, 1963",57 years old,Cancer,...,"5' 6"" (168 centimeters)",128.3 pounds (58.3 kilograms),A+,1Z F94 E98 85 2946 531 5,0494744678,71887581,Blue,2000 Alfa Romeo GTV,f75ead19-0481-49c8-90d5-2ab646329022,Click to view the QR code for this identity
6,Dorothy B. Holt,"3098 White AvenueCorpus Christi, TX 78405",Abell,451-20-XXXX,"27.738402, -97.3984",361-654-6591,1,"March 21, 2000",20 years old,Aries,...,"5' 7"" (171 centimeters)",121.7 pounds (55.3 kilograms),B-,1Z 9E8 0F5 79 8322 697 3,6363709887,72102994,Purple,2008 Citroen C-Crosser,b24b8ac6-e400-4420-9fd0-06838abf2749,Click to view the QR code for this identity
7,Ruth J. Reid,"2922 Frank AvenueGibsonia, PA 15044",Gosselin,203-56-XXXX,"40.676591, -80.00487",412-948-6501,1,"December 2, 1983",37 years old,Sagittarius,...,"5' 1"" (155 centimeters)",217.4 pounds (98.8 kilograms),B+,1Z 7Y5 838 08 0816 721 9,4978795997,22452994,Purple,2004 Aston Martin DB7,04de3329-2bd1-40f2-a276-1d8d78c24874,Click to view the QR code for this identity
8,John A. Johnson,"483 Terry LaneOrlando, FL 32809",Steward,770-26-XXXX,"28.453079, -81.302518",321-299-5926,1,"March 17, 1990",30 years old,Pisces,...,"5' 10"" (179 centimeters)",147.0 pounds (66.8 kilograms),A+,1Z E83 523 86 9198 643 0,5307978286,85541425,Blue,2012 Hyundai Accent,8dcb0b0f-d864-453a-9f50-847a132cd594,Click to view the QR code for this identity
9,Sam E. Thomas,"1494 Crowfield RoadPhoenix, AZ 85017",Smith,526-62-XXXX,"33.573761, -112.170293",602-871-2203,1,"April 13, 1941",79 years old,Aries,...,"5' 5"" (164 centimeters)",224.0 pounds (101.8 kilograms),B+,1Z W17 8E2 17 3726 614 2,2830619200,39776917,Yellow,1996 Fiat Coupe,73b88916-a761-437b-9253-73dd6ecdd14b,Click to view the QR code for this identity